// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 *
 * Lemans staging overlay - add staging-specific device tree modifications here.
 */

/dts-v1/;
/plugin/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/qcom,sa8775p-gcc.h>

&soc {
	tgu@4b0e000 {
		compatible = "qcom,tgu", "arm,primecell";
		reg = <0x0 0x4b0e000 0x0 0x1000>;

		clocks = <&aoss_qmp>;
		clock-names = "apb_pclk";
	};

	tgu@4b0f000 {
		compatible = "qcom,tgu", "arm,primecell";
		reg = <0x0 0x4b0f000 0x0 0x1000>;

		clocks = <&aoss_qmp>;
		clock-names = "apb_pclk";
	};

	tsc@1c80000 {
		compatible = "qcom,tsc";
		reg = <0x0 0x01c80000 0x0 0x2000>,
		      <0x0 0x01c90000 0x0 0x10000>;
		reg-names = "tsc", "etu";

		clocks = <&gcc GCC_TSCSS_AHB_CLK>,
			 <&gcc GCC_TSCSS_GLOBAL_CNTR_CLK>,
			 <&gcc GCC_TSCSS_ETU_CLK>;
		clock-names = "cfg_ahb", "cntr", "etu";

		assigned-clocks = <&gcc GCC_TSCSS_GLOBAL_CNTR_CLK>,
				  <&gcc GCC_TSCSS_ETU_CLK>;
		assigned-clock-rates = <15625000>, <15625000>;

		qcom,tsc-nsec-update;

		interrupts = <GIC_SPI 766 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "etu_summary_irq";

		qcom,etu-slice = <10 11>;
		qcom,etu-event-sel = <10 11>;
		qcom,etu-event-names = "gps_pps", "tod_pps";

		pinctrl-names = "default";
		pinctrl-0 = <&cci_async_default>;
	};
};

&tlmm {
	cci_async_default: cci-async-state {
		pins = "gpio68", "gpio69";
		function = "cci_async";
		drive-strength = <2>;
		bias-disable;
	};
};

&pcie0 {
	iommu-map = <0x0 &pcie_smmu 0x00 0x1>,
			<0x100 &pcie_smmu 0x01 0x1>,
			<0x101 &pcie_smmu 0x02 0x1>,
			<0x208 &pcie_smmu 0x03 0x1>,
			<0x210 &pcie_smmu 0x04 0x1>,
			<0x218 &pcie_smmu 0x05 0x1>,
			<0x280 &pcie_smmu 0x06 0x1>,
			<0x282 &pcie_smmu 0x07 0x1>,
			<0x284 &pcie_smmu 0x08 0x1>,
			<0x286 &pcie_smmu 0x09 0x1>,
			<0x288 &pcie_smmu 0x0a 0x1>,
			<0x28a &pcie_smmu 0x0b 0x1>,
			<0x28c &pcie_smmu 0x0c 0x1>,
			<0x28e &pcie_smmu 0x0d 0x1>,
			<0x290 &pcie_smmu 0x0e 0x1>,
			<0x292 &pcie_smmu 0x0f 0x1>,
			<0x300 &pcie_smmu 0x10 0x1>,
			<0x400 &pcie_smmu 0x11 0x1>,
			<0x500 &pcie_smmu 0x12 0x1>,
			<0x501 &pcie_smmu 0x13 0x1>;
};

&pcie1 {
	iommu-map = <0x0 &pcie_smmu 0x80 0x1>,
			<0x100 &pcie_smmu 0x81 0x1>,
			<0x101 &pcie_smmu 0x82 0x1>,
			<0x208 &pcie_smmu 0x83 0x1>,
			<0x210 &pcie_smmu 0x84 0x1>,
			<0x218 &pcie_smmu 0x85 0x1>,
			<0x280 &pcie_smmu 0x86 0x1>,
			<0x282 &pcie_smmu 0x87 0x1>,
			<0x284 &pcie_smmu 0x88 0x1>,
			<0x286 &pcie_smmu 0x89 0x1>,
			<0x288 &pcie_smmu 0x8a 0x1>,
			<0x28a &pcie_smmu 0x8b 0x1>,
			<0x28c &pcie_smmu 0x8c 0x1>,
			<0x28e &pcie_smmu 0x8d 0x1>,
			<0x290 &pcie_smmu 0x8e 0x1>,
			<0x292 &pcie_smmu 0x8f 0x1>,
			<0x300 &pcie_smmu 0x90 0x1>,
			<0x400 &pcie_smmu 0x91 0x1>,
			<0x500 &pcie_smmu 0x92 0x1>,
			<0x501 &pcie_smmu 0x93 0x1>;
};
