// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/spmi/spmi.h>

&spmi_bus {
	pmau0102_e: pmic@4 {
		compatible = "qcom,pmau0102", "qcom,spmi-pmic";
		reg = <0x4 SPMI_USID>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmau0102_e_temp_alarm: temp-alarm@a00 {
			compatible = "qcom,spmi-temp-alarm";
			reg = <0xa00>;
			interrupts = <0x4 0xa 0x0 IRQ_TYPE_EDGE_BOTH>;
			#thermal-sensor-cells = <0>;
		};

		pmau0102_e_gpios: gpio@8800 {
			compatible = "qcom,pmau0102-gpio", "qcom,spmi-gpio";
			reg = <0x8800>;
			gpio-controller;
			gpio-ranges = <&pmau0102_e_gpios 0 0 12>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	pmau0102_f: pmic@5 {
		compatible = "qcom,pmau0102", "qcom,spmi-pmic";
		reg = <0x5 SPMI_USID>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmau0102_f_temp_alarm: temp-alarm@a00 {
			compatible = "qcom,spmi-temp-alarm";
			reg = <0xa00>;
			interrupts = <0x5 0xa 0x0 IRQ_TYPE_EDGE_BOTH>;
			#thermal-sensor-cells = <0>;
		};

		pmau0102_f_gpios: gpio@8800 {
			compatible = "qcom,pmau0102-gpio", "qcom,spmi-gpio";
			reg = <0x8800>;
			gpio-controller;
			gpio-ranges = <&pmau0102_f_gpios 0 0 12>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	pmau0102_g: pmic@6 {
		compatible = "qcom,pmau0102", "qcom,spmi-pmic";
		reg = <0x6 SPMI_USID>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmau0102_g_temp_alarm: temp-alarm@a00 {
			compatible = "qcom,spmi-temp-alarm";
			reg = <0xa00>;
			interrupts = <0x6 0xa 0x0 IRQ_TYPE_EDGE_BOTH>;
			#thermal-sensor-cells = <0>;
		};

		pmau0102_g_gpios: gpio@8800 {
			compatible = "qcom,pmau0102-gpio", "qcom,spmi-gpio";
			reg = <0x8800>;
			gpio-controller;
			gpio-ranges = <&pmau0102_g_gpios 0 0 12>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	pmau0102_h: pmic@7 {
		compatible = "qcom,pmau0102", "qcom,spmi-pmic";
		reg = <0x7 SPMI_USID>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmau0102_h_temp_alarm: temp-alarm@a00 {
			compatible = "qcom,spmi-temp-alarm";
			reg = <0xa00>;
			interrupts = <0x7 0xa 0x0 IRQ_TYPE_EDGE_BOTH>;
			#thermal-sensor-cells = <0>;
		};

		pmau0102_h_gpios: gpio@8800 {
			compatible = "qcom,pmau0102-gpio", "qcom,spmi-gpio";
			reg = <0x8800>;
			gpio-controller;
			gpio-ranges = <&pmau0102_h_gpios 0 0 12>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	pmau0102_i: pmic@8 {
		compatible = "qcom,pmau0102", "qcom,spmi-pmic";
		reg = <0x8 SPMI_USID>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmau0102_i_temp_alarm: temp-alarm@a00 {
			compatible = "qcom,spmi-temp-alarm";
			reg = <0xa00>;
			interrupts = <0x8 0xa 0x0 IRQ_TYPE_EDGE_BOTH>;
			#thermal-sensor-cells = <0>;
		};

		pmau0102_i_gpios: gpio@8800 {
			compatible = "qcom,pmau0102-gpio", "qcom,spmi-gpio";
			reg = <0x8800>;
			gpio-controller;
			gpio-ranges = <&pmau0102_i_gpios 0 0 12>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	pmau0102_j: pmic@9 {
		compatible = "qcom,pmau0102", "qcom,spmi-pmic";
		reg = <0x9 SPMI_USID>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmau0102_j_temp_alarm: temp-alarm@a00 {
			compatible = "qcom,spmi-temp-alarm";
			reg = <0xa00>;
			interrupts = <0x9 0xa 0x0 IRQ_TYPE_EDGE_BOTH>;
			#thermal-sensor-cells = <0>;
		};

		pmau0102_j_gpios: gpio@8800 {
			compatible = "qcom,pmau0102-gpio", "qcom,spmi-gpio";
			reg = <0x8800>;
			gpio-controller;
			gpio-ranges = <&pmau0102_j_gpios 0 0 12>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	pmau0102_k: pmic@a {
		compatible = "qcom,pmau0102", "qcom,spmi-pmic";
		reg = <0xa SPMI_USID>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmau0102_k_temp_alarm: temp-alarm@a00 {
			compatible = "qcom,spmi-temp-alarm";
			reg = <0xa00>;
			interrupts = <0xa 0xa 0x0 IRQ_TYPE_EDGE_BOTH>;
			#thermal-sensor-cells = <0>;
		};

		pmau0102_k_gpios: gpio@8800 {
			compatible = "qcom,pmau0102-gpio", "qcom,spmi-gpio";
			reg = <0x8800>;
			gpio-controller;
			gpio-ranges = <&pmau0102_k_gpios 0 0 12>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	pmau0102_l: pmic@b {
		compatible = "qcom,pmau0102", "qcom,spmi-pmic";
		reg = <0xb SPMI_USID>;
		#address-cells = <1>;
		#size-cells = <0>;

		pmau0102_l_temp_alarm: temp-alarm@a00 {
			compatible = "qcom,spmi-temp-alarm";
			reg = <0xa00>;
			interrupts = <0xb 0xa 0x0 IRQ_TYPE_EDGE_BOTH>;
			#thermal-sensor-cells = <0>;
		};

		pmau0102_l_gpios: gpio@8800 {
			compatible = "qcom,pmau0102-gpio", "qcom,spmi-gpio";
			reg = <0x8800>;
			gpio-controller;
			gpio-ranges = <&pmau0102_l_gpios 0 0 12>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};
};

/ {
	thermal-zones {
		pmau0102_e_thermal: pmau0102-e-thermal {
			polling-delay-passive = <100>;
			thermal-sensors = <&pmau0102_e_temp_alarm>;
			trips {
				trip0 { temperature = <95000>; hysteresis = <0>; type = "passive"; };
				trip1 { temperature = <115000>; hysteresis = <0>; type = "hot"; };
				trip2 { temperature = <145000>; hysteresis = <0>; type = "critical"; };
			};
		};

		pmau0102_f_thermal: pmau0102-f-thermal {
			polling-delay-passive = <100>;
			thermal-sensors = <&pmau0102_f_temp_alarm>;
			trips {
				trip0 { temperature = <95000>; hysteresis = <0>; type = "passive"; };
				trip1 { temperature = <115000>; hysteresis = <0>; type = "hot"; };
				trip2 { temperature = <145000>; hysteresis = <0>; type = "critical"; };
			};
		};

		pmau0102_g_thermal: pmau0102-g-thermal {
			polling-delay-passive = <100>;
			thermal-sensors = <&pmau0102_g_temp_alarm>;
			trips {
				trip0 { temperature = <95000>; hysteresis = <0>; type = "passive"; };
				trip1 { temperature = <115000>; hysteresis = <0>; type = "hot"; };
				trip2 { temperature = <145000>; hysteresis = <0>; type = "critical"; };
			};
		};

		pmau0102_h_thermal: pmau0102-h-thermal {
			polling-delay-passive = <100>;
			thermal-sensors = <&pmau0102_h_temp_alarm>;
			trips {
				trip0 { temperature = <95000>; hysteresis = <0>; type = "passive"; };
				trip1 { temperature = <115000>; hysteresis = <0>; type = "hot"; };
				trip2 { temperature = <145000>; hysteresis = <0>; type = "critical"; };
			};
		};

		pmau0102_i_thermal: pmau0102-i-thermal {
			polling-delay-passive = <100>;
			thermal-sensors = <&pmau0102_i_temp_alarm>;
			trips {
				trip0 { temperature = <95000>; hysteresis = <0>; type = "passive"; };
				trip1 { temperature = <115000>; hysteresis = <0>; type = "hot"; };
				trip2 { temperature = <145000>; hysteresis = <0>; type = "critical"; };
			};
		};

		pmau0102_j_thermal: pmau0102-j-thermal {
			polling-delay-passive = <100>;
			thermal-sensors = <&pmau0102_j_temp_alarm>;
			trips {
				trip0 { temperature = <95000>; hysteresis = <0>; type = "passive"; };
				trip1 { temperature = <115000>; hysteresis = <0>; type = "hot"; };
				trip2 { temperature = <145000>; hysteresis = <0>; type = "critical"; };
			};
		};

		pmau0102_k_thermal: pmau0102-k-thermal {
			polling-delay-passive = <100>;
			thermal-sensors = <&pmau0102_k_temp_alarm>;
			trips {
				trip0 { temperature = <95000>; hysteresis = <0>; type = "passive"; };
				trip1 { temperature = <115000>; hysteresis = <0>; type = "hot"; };
				trip2 { temperature = <145000>; hysteresis = <0>; type = "critical"; };
			};
		};

		pmau0102_l_thermal: pmau0102-l-thermal {
			polling-delay-passive = <100>;
			thermal-sensors = <&pmau0102_l_temp_alarm>;
			trips {
				trip0 { temperature = <95000>; hysteresis = <0>; type = "passive"; };
				trip1 { temperature = <115000>; hysteresis = <0>; type = "hot"; };
				trip2 { temperature = <145000>; hysteresis = <0>; type = "critical"; };
			};
		};
	};
};
